<section style="margin-top: 5%;" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="font-size: 2.5rem;">Próximas Giras</h1>
         <p class="lead text-body-secondary">As inscrições abrem, em média, 7 dias antes do trabalho.</p>
        <!--<p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> -->
      </div>
    </div>
  </section>

<span *ngIf="!completeLoad" class="spinner-border spinner-border-sm" aria-hidden="true"></span>

<div *ngIf="completeLoad" class="container marketing">

  <div *ngIf="giras.length == 0" class="alert alert-warning text-center" role="alert">
    <h4 class="alert-heading">Ainda não há Giras cadastradas para datas futuras ):</h4>
    <p class="mb-0">Não se preocupe, logo logo teremos nosso calendario disponível. </p>
  </div>

  <div class="row" style="margin: 1%;">
    <div class="col-lg-4" *ngFor="let gira of giras">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" [src]="gira.urlImage == '' ?'https://d3flpus5evl89n.cloudfront.net/5ea9ab64df82fe07900c52df/5f3557c1e9d133046aedbd3b/scaled_768.png' : gira.urlImage" >
      <h2 class="fw-normal">{{gira.name}}</h2>
      <p>{{gira.description}}</p>
      <p>{{ translateDayName(gira.startDate)}} {{gira.startDate | date :'dd/MM HH:mm'}} - {{gira.endDate | date :'HH:mm'}}</p>
      <p>
        <!-- <a class="btn btn-secondary"  href="#">Inscreva-se &raquo;</a> -->
        <button *ngIf="gira.registrationPeriod && (gira.acceptCleanse === true || gira.acceptConsultation === true || gira.acceptWatcher === true)" class="btn btn-secondary" [routerLink]="['/application', gira.id]">Inscreva-se &raquo;</button>
      </p>
    </div>
  </div>

</div><!-- /.container -->

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>