<!-- <div style="margin-top: 5%;" class="container">
    <main>
        <div class="py-5">
              
            <h1>Privacy policy</h1>

            <h2>Introduction</h2>
            <p class="lead" style="font-size: 1rem">
                At our site (referred to as "we", "us" and "our"), we are committed to protecting the privacy of our users. If you are in the UK or the EU, we are the data controller, unless otherwise stated. 
                Please read the following privacy policy that explains how we collect, manage and protect your personal information.
                This is the Privacy (and Cookies) Notice ("Notice") for the website https://tueg.fly.dev.
            </p>

            <h2>Contacting us</h2>
            <p class="lead" style="font-size: 1rem">
                If you have any questions, comments and requests regarding this Notice you can get in touch with us via our Contact Us page (<a href="https://www.tueg.org/contactos">https://www.tueg.org/contactos</a>), or via email at geral@tueg.org.
            </p>

            <h3>What information do we collect & how do we use it?</h3>
            <p class="lead" style="font-size: 1rem">
                This Privacy Notice will apply to you if:
            </p>
            <ul>
                <li>you visit and browse our Site and apply to our events using email and/or phone number.</li>
            </ul> 
            <p class="lead" style="font-size: 1rem">
                We will only use the information we collect about you if there is a reason for doing so, and if that reason is permitted under data protection law.
            </p>

            <h3>If you contact or engage with us</h3>
            <p class="lead" style="font-size: 1rem">
                If you contact or engage with us, we will collect your contact information, and the other communications information you provide.
            </p>
            <p class="lead" style="font-size: 1rem">
                Contact information includes basic contact information you provide: 
            </p>
            <ul>
                <li>email address.</li>
            </ul> 
            <h4>and anything else you include, for example:</h4>
            <ul>
                <li>first and last name.</li>
                <li>phone number(s).</li>
            </ul> 

            <h3>If you use our services to book an appointment</h3>
            <p class="lead" style="font-size: 1rem">
                When you book an appointment using our Service, we may collect your:
            </p>
            <ul>
                <li>first and last name</li>
                <li>email address</li>
                <li>mobile phone number(s)</li>
            </ul> 
          </div>
    </main>
</div> -->


<div style="margin-top: 5%;" class="container">
    <main>
        <div class="py-5">
              
            <h1 class="custom-title">Âmbito da nossa Política de Privacidade</h1>

            <p class="lead custom-text" style="font-size: 1rem">
                A presente Política de Privacidade aplica-se a todos os dados obtidos através do acesso ao nosso website, pelo preenchimento de formulários e pelos facultados pelo utilizador ao Templo de Umbanda Estrela Guia (TUEG), que para os devidos efeitos, é a entidade responsável pelo tratamento de dados pessoais.
            </p>

            <p class="lead custom-text" style="font-size: 1rem">
                Ao aceitar a presente Política de Privacidade, o utilizador autoriza o TUEG dando o seu consentimento prévio, a tratar os seus dados pessoais e a gerir os mesmos nos termos aqui definidos.
            </p>

            <p class="lead custom-text" style="font-size: 1rem">
                Pretendemos com o presente informar os utilizadores, para que efeitos é efetuada a recolha dos dados pessoais, e os direitos que estes têm sobre esses dados, nomeadamente os direitos de acesso, retificação, limitação do tratamento, portabilidade, oposição e revogação.
            </p>

            <h2 class="custom-title">O QUE SÃO DADOS PESSOAIS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Dados pessoais são qualquer informação, de qualquer natureza e independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou identificável. É considerada identificável a pessoa que possa ser identificada direta ou indiretamente, designadamente por referência a um número de identificação ou a um ou mais elementos específicos da sua identidade física, fisiológica, psíquica, económica, cultural ou social.
            </p>

            <h2 class="custom-title">INFORMAÇÃO RECOLHIDA</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Recolhemos dados sobre os utilizadores quando estes acedem ao nosso website, quando se registam ou preenchem algum formulário de contacto.  
            </p>
            <p class="lead custom-text" style="font-size: 1rem">
                Podemos ainda recorrer a “cookies “para recolha de informações que nos permitem melhorar os nossos serviços e facilitar a interação com os utilizadores nomeadamente em futuras visitas, no entanto, é importante referir que não recolhemos quaisquer informações pessoais sobre os utilizadores, a menos que nos forneçam voluntariamente.
            </p>

            <h2 class="custom-title">PREENCHIMENTO DE FORMULÁRIOS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Sempre que um utilizador preenche um formulário, quer seja de contacto ou de inscrição nos trabalhos no website do TUEG, é solicitada apenas a informação essencial, nomeadamente, nome, e-mail e telefone e telemóvel (facultativo). 
            </p>

            <h2 class="custom-title">INFORMAÇÕES REFERENTES AO DISPOSITIVO DO UTILIZADOR</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                O TUEG poderá recolher informações técnicas do dispositivo do utilizador, quando este visita o website. As informações são obtidas através do browser da Internet e dizem respeito ao endereço IP, sistema operativo e motor de busca da Internet utilizados, resolução do ecrã e websites de referência.
            </p>

            <h2 class="custom-title">PARA QUE EFEITOS RECOLHEMOS OS DADOS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Utilizamos as informações que recolhemos para:
            </p>
            <ul class="custom-text">
                <li>Otimizar a visita do utilizador ao nosso website;</li>
                <li>Corresponder a pedidos dos utilizadores, nomeadamente para a inscrição nos trabalhos e contactos;</li>
                <li>Garantir o exercício dos direitos dos titulares dos dados;</li>
                <li>Melhorar a experiência de navegação do utilizador e a qualidade global dos nossos serviços, por via das informações recolhidas por cookies.</li>
            </ul> 
            <p class="lead custom-text" style="font-size: 1rem">
                Solicitaremos o seu consentimento expresso antes de utilizarmos as informações para fins diferentes daqueles expressamente previstos na presente Política de Privacidade.
            </p>

            <h2 class="custom-title">EXISTÊNCIA DE DECISÕES AUTOMATIZADAS, INCLUINDO DEFINIÇÕES DE PERFIS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Recolhemos informações dos utilizadores com o seu consentimento explícito para podermos prestar um serviço personalizado de informações através de newsletters ou outro tipo de contactos, consoante as suas preferências.
            </p>
            <p class="lead custom-text" style="font-size: 1rem">
                Pode opor-se a esta recolha bastando para isso seguir os procedimentos descritos abaixo em “DIREITOS DOS TITULARES DE DADOS”.
            </p>

            <h2 class="custom-title">MEDIDAS DE SEGURANÇA</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                O TUEG preocupa-se com a segurança de dados pessoais e com a privacidade dos utilizadores, tendo para esse efeito implementado medidas de segurança e de organização que asseguram a confidencialidade e segurança dos seus dados. Qualquer entidade subcontratada estará igualmente, obrigada a medidas de segurança e apenas será autorizada a tratar quaisquer dados pessoais dos quais sejamos titulares se nos oferecerem garantias de segurança e confidencialidade.
            </p>
            <p class="lead custom-text" style="font-size: 1rem">
                É importante que o utilizador tenha consciência que nenhum método de transmissão ou armazenamento de dados, é inviolável. Por isso, na máxima extensão permitida pela lei, não poderemos ser responsabilizados por quaisquer perdas ou danos de qualquer natureza, decorrentes de fraude informática, ou qualquer outra circunstância em que as suas informações sejam acedidas ou divulgadas sem nossa autorização expressa.
            </p>

            <h2 class="custom-title">DIREITOS DOS TITULARES DOS DADOS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                O utilizador tem o direito de acesso, atualização, retificação, limitação do tratamento, portabilidade, oposição e esquecimento, e poderá exercer quaisquer destes direitos, enviando o pedido por escrito por e-mail para geral@tueg.org.
            </p>
            <p class="lead custom-text" style="font-size: 1rem">
                Poderá ainda, pela mesma via e a qualquer momento, retirar o consentimento que tenha dado para o tratamento dos seus dados pessoais, sem que isso afete a licitude do tratamento que até aí tenha sido efetuado, com base no consentimento que tenha anteriormente prestado.
            </p>
            <p class="lead custom-text" style="font-size: 1rem">
                Tem também o direito de apresentar reclamação relativamente ao tratamento dos seus dados, junto da CNPD – Comissão Nacional de Proteção de Dados.
            </p>

            <h2 class="custom-title">PRAZO DE CONSERVAÇÃO DOS DADOS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Todos os dados que nos forem facultados por via de registo no nosso website ou envio de formulários, serão apagados ou anonimizados no prazo máximo de 10 dias úteis após a desativação do respetivo registo, anulação da subscrição, ou conclusão da assistência solicitada.
            </p>

            <h2 class="custom-title">ALTERAÇÕES À POLÍTICA DE PRIVACIDADE</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                O TUEG reserva-se no direito de alterar a Política de Privacidade pelo que sugerimos que consulte regularmente o presente conteúdo no nosso website.
            </p>

            <h2 class="custom-title">CONTACTOS</h2>
            <p class="lead custom-text" style="font-size: 1rem">
                Templo de Umbanda Estrela Guia: geral@tueg.org
            </p>
        </div>
    </main>
</div>
