<div style="margin-top: 5%;" class="container">
    <main>
        <div class="py-5">
              
            <h1>Privacy policy</h1>

            <h2>Introduction</h2>
            <p class="lead" style="font-size: 1rem">
                At our site (referred to as "we", "us" and "our"), we are committed to protecting the privacy of our users. If you are in the UK or the EU, we are the data controller, unless otherwise stated. 
                Please read the following privacy policy that explains how we collect, manage and protect your personal information.
                This is the Privacy (and Cookies) Notice ("Notice") for the website https://tueg.fly.dev.
            </p>

            <h2>Contacting us</h2>
            <p class="lead" style="font-size: 1rem">
                If you have any questions, comments and requests regarding this Notice you can get in touch with us via our Contact Us page (<a href="https://www.tueg.org/contactos">https://www.tueg.org/contactos</a>), or via email at geral@tueg.org.
            </p>

            <h3>What information do we collect & how do we use it?</h3>
            <p class="lead" style="font-size: 1rem">
                This Privacy Notice will apply to you if:
            </p>
            <ul>
                <li>you visit and browse our Site and apply to our events using email and/or phone number.</li>
            </ul> 
            <p class="lead" style="font-size: 1rem">
                We will only use the information we collect about you if there is a reason for doing so, and if that reason is permitted under data protection law.
            </p>

            <h3>If you contact or engage with us</h3>
            <p class="lead" style="font-size: 1rem">
                If you contact or engage with us, we will collect your contact information, and the other communications information you provide.
            </p>
            <p class="lead" style="font-size: 1rem">
                Contact information includes basic contact information you provide: 
            </p>
            <ul>
                <li>email address.</li>
            </ul> 
            <h4>and anything else you include, for example:</h4>
            <ul>
                <li>first and last name.</li>
                <li>phone number(s).</li>
            </ul> 

            <h3>If you use our services to book an appointment</h3>
            <p class="lead" style="font-size: 1rem">
                When you book an appointment using our Service, we may collect your:
            </p>
            <ul>
                <li>first and last name</li>
                <li>email address</li>
                <li>mobile phone number(s)</li>
            </ul> 
          </div>
    </main>
</div>
