.custom-title {
    font-family: Hind;
    font-weight: 700 !important;
  }

  /* texts
  -------------------------------------------------- */
  .custom-text {
    font-family: Barlow;
    font-weight: 400;
  }